.footer_icon{
    font-size: 1.5rem;

}

i{
    padding-right: 10px;
}

.footer_text{
  margin-top: -20%;
  font-size: 12px;
}

.add_text{
  font-size: 14px;
}

.footer_color {
  background-color: #7E99A3 !important;
}

/* ///////////////////////////////////////////////////// */

.text-reset:hover{
  color: aqua !important;
}